{
    "aim_key": 1,
    "backtrack": true,
    "chams_ignorez": true,
    "chams_player_enabled": true,
    "color_chamsoccluded_enemy": {
        "0": 225,
        "1": 24,
        "2": 24,
        "3": 255
    },
    "color_chamsvisible_enemy": {
        "0": 11,
        "1": 255,
        "2": 0,
        "3": 255
    },
    "color_esp_box_enemy_occluded": {
        "0": 254,
        "1": 0,
        "2": 255,
        "3": 255
    },
    "color_esp_box_enemy_visible": {
        "0": 176,
        "1": 0,
        "2": 255,
        "3": 255
    },
    "color_esp_box_fill": {
        "0": 0,
        "1": 0,
        "2": 0,
        "3": 61
    },
    "color_esp_bullettracer": {
        "0": 118,
        "1": 1,
        "2": 255,
        "3": 255
    },
    "color_esp_c4": {
        "0": 215,
        "1": 220,
        "2": 250,
        "3": 255
    },
    "color_esp_dlight": {
        "0": 1.0,
        "1": 0.0,
        "2": 0.23000000417232513,
        "3": 0.0
    },
    "color_esp_pl_weapons": {
        "0": 176,
        "1": 0,
        "2": 255,
        "3": 255
    },
    "color_esp_weapons": {
        "0": 118,
        "1": 1,
        "2": 255,
        "3": 255
    },
    "enable_esp": true,
    "enable_masterkey": false,
    "esp_boxtype": 0,
    "esp_bullet_trace": false,
    "esp_bulletbeams": false,
    "esp_c4box_type": 0,
    "esp_dlight": false,
    "esp_enemies_only": true,
    "esp_fill_box": false,
    "esp_grenade_prediction": false,
    "esp_healthbar_type": 0,
    "esp_lagcomp_duration": 1.0,
    "esp_lagcomp_hitboxes": false,
    "esp_no_flash": false,
    "esp_no_smoke": false,
    "esp_no_visual_recoil": false,
    "esp_player_anglelines": false,
    "esp_player_armour": false,
    "esp_player_health_text": false,
    "esp_player_names": true,
    "esp_player_weapon": false,
    "esp_skeleton": false,
    "esp_wepbox_type": 0,
    "gray_world": false,
    "legit_fov_pistols": 1.4900000095367432,
    "legit_fov_rifles": 1.71999990940094,
    "legit_fov_snipers": 2.5199999809265137,
    "legit_hitbox_pistols": 1,
    "legit_hitbox_rifles": 5,
    "legit_hitbox_snipers": 4,
    "legit_pistols": true,
    "legit_rcsmax_pistols": 0.0,
    "legit_rcsmax_rifles": 98.11000061035156,
    "legit_rcsmax_snipers": 0.0,
    "legit_rcsmin_pistols": 0.0,
    "legit_rcsmin_rifles": 96.5999984741211,
    "legit_rcsmin_snipers": 0.0,
    "legit_rifles": true,
    "legit_smooth_pistols": 1.3799999952316284,
    "legit_smooth_rifles": 2.509999990463257,
    "legit_smooth_snipers": 1.0,
    "legit_snipers": true,
    "minecraft_mode": false,
    "mlg_mode": false,
    "radar_alpha": 0.34300002455711365,
    "radar_window": false,
    "skybox": 0,
    "spectator_list": false,
    "thirdperson": false
}
